/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Jun-2015, 14:09:50
    Author     : Walter
*/

body
{
    background-color: rgb(0,128,0);
}

#outsideBorder
{
    position: absolute;
    top: 15%;
    left: 25%;
    right: 25%;
    bottom: 25%;
}

.hoofdmenuOptionButton
{
    height: 75px;
    width: 250px;
}

.formtable
{
    float: left;
    padding-right: 20px;
}

.formtableRight
{
    float: right;
}

.omschrijving
{
    resize: none;
    vertical-align: top;
    padding-bottom: 0; 
    padding-top: 0;
}

#selectable .ui-selecting 
{ 
    background: #1111FF; 
}

#selectable .ui-selected 
{ 
    background: #0000FF; 
    color: white; 
}

#selectable 
{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 60%; 
}

#selectable li 
{ 
    background: #FFFFFF;
    margin: 3px; 
    padding: 0.4em; 
    font-size: 1.4em; 
    height: 18px; 
}

.spaceForButtons{
    clear: left;
}

.spaceForButtons .tableVerkavelGoederen tr .right-aligned-cell
{
    direction: rtl;
}

.spaceForButtons .tableOpstellenKavellijst tr .right-aligned-cell
{
    direction: rtl;
}

.sortableFieldLeft 
{
  width: 360px;
  height: 85%;
  float: left;
  overflow: auto;
}

.kavellijst
{
  width: 360px;
  height: 85%;
  float: left;
  overflow: auto;
}

.sortableFieldRight 
{
  width: 360px;
  height: 85%;
  margin-left: 6px;
  float: left;
  overflow: auto;
}

.kavellijstVoorVeiling
{
    background-color: #888888;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    margin: 0 1em 1em 0;
    padding: 0.3em;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}

.goed 
{
  margin: 0 1em 1em 0;
  padding: 0.3em;
}

.kavel 
{
  margin: 0 1em 1em 0;
  padding: 0.3em;
}

.goedNaam 
{
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}

.kavelNaam 
{
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}

.portlet-toggle 
{
  position: absolute;
  top: 50%;
  right: 4px;
  margin-top: -8px;
}

.goedOms 
{
  padding: 0.4em;
}

.kavelOms 
{
  padding: 0.4em;
}

.portlet-placeholder 
{
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

.ui-corner-all{
   border-top-left-radius: 4px; 
   border-top-right-radius: 4px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
}

.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}

.ui-icon 
{
	width: 16px;
	height: 16px;
}

.ui-icon-minusthick 
{ 
    background-position: -64px -128px;
    background-color: #222222;
}

.ui-icon-plusthick 
{ 
    background-position: -32px -128px; 
    background-color: #555555;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after 
{
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after 
{
	clear: both;
}
.ui-helper-clearfix 
{
	min-height: 0; 
}

.ui-widget-content 
{
	border: 1px solid #aaaaaa;
	background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
	color: #222222;
}

.ui-widget-header 
{
	border: 1px solid #aaaaaa;
	background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}

.selectVeilingToewijzenContainer
{
    width: 100%;
    margin-bottom: 6px;
}

.selectVeilingToewijzen
{
    float: right;
    width: 30%;
}

#formToewijzenKavel
{
   display: inline; 
}

.klantenLijst
{
    height: 100%;
    overflow: auto;
}

.ui-selected 
{ 
    background: #0000FF; 
    color: white; 
}

.kasboekItem
{
    border: 1px solid #aaaaaa;
    color: #222222;
    background-color: white;
}

.openstaandItem
{
    border: 1px solid #aaaaaa;
    color: #222222;
    background-color: white;
}

.openstaandeItems td
{
    width: 200px;
}

.veilingsresultaat
{
    border: 1px solid #aaaaaa;
    color: #222222;
    background-color: white;
}