<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/csslayout.css" />
        <link rel="shortcut icon" href="Veilinghuis/images/auctionHammer.ico">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <title>Invoeren veilingsresultaten</title>
        
        <script>
            function select(ui){
                $(".veilingsresultaat").removeClass("ui-selected");
                //$(ui).addClass("ui-selected");
            }
            
            function changeVeiling(ui){
                //functie voor bij de select om Ajax te gebruiken om de jusite tabel te renderen.
                var veiling = document.getElementById("selectboxVeiling").value;
                var url = 'invoerenVeilingsresultaten.php?veiling='+veiling+'';
                location.href = url;
            }
        </script>
    </head>
    <body>
        <div id="outsideBorder">
            <form method="post" action="/Controller/veiling/verwerkVeilingsuitslagen.php">
                    <div class="selectVeilingToewijzenContainer">
                    &nbsp;
                        Veiling: 
                        <select class="selectVeiling" id="selectboxVeiling" onchange="changeVeiling(this)">
                            <option>Kies een veiling...
                            </option>
                            {% for veiling in veilingen %}
                                <option value="{{veiling}}">
                                    {{veiling}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {{ error }} 
                    <table class="veilingsresultaten" id="selectable">
                        <tr class="headerVeilingresultaten veilingsresultaat">
                            <th>
                                Kavelnummer
                            </th>
                            <th>
                                KavelNaam
                            </th>
                            <th>
                                Tokennummer <br> bieder
                            </th> 
                            <th>
                                Bod
                            </th>
                        </tr>
                        {% for entry in tableData %}
                            <tr class="veilingsresultaat" onclick="select(this)">
                                <td>
                                    {{entry['kavel']}} <input type="hidden" name="kavel[]" value="{{ entry['kavel'] }}">
                                </td>
                                <td>
                                    {{entry['kavelNaam']}}
                                </td>
                                <td>
                                    # <input type="text" name="tokenNummer[]" maxlength="7" placeholder="tokennummer" value="{{entry['tokenNummer']}}">
                                </td>
                                <td>
                                    € <input type="text" name="bod[]" maxlength="20" placeholder="bedrag" value="{{entry['bedrag']}}">
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <button type="button" onclick="location.href='/index.php'" class="terugKnop">
                        Terug
                    </button>
                    <input type="submit" value="Resultaten opslaan">
                </form>
            
        </div>
    </body>
</html>
